/* Reset =================================================== */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
html {
  color: #4d4d4d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  border-bottom: 1.5px solid #dadada;
  color: #111111;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
a:hover {
  color: #3986f2;
}
/* Headings */
h1,
h2,
h3,
h4 {
  margin: 0;
  font-size: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #222222;
  text-rendering: optimizelegibility;
  text-shadow: -1px 1px 1px #f9f9f9;
}
h1 {
  margin: 0.75em 0;
  font-size: 2em;
}
h2 {
  margin: 0.75em 0;
  font-size: 1.5em;
  font-weight: 400;
}
h3 {
  margin: 1em 0;
  font-size: 1.17em;
  font-weight: 400;
}
h4 {
  margin: 1.2em 0;
  font-size: 1em;
  font-weight: 400;
}
/* Text Elements */
p {
  margin: .5em 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
code {
  font: Monaco, "Courier New", monospace;
  color: #800000;
}
blockquote {
  color: #666;
  border-left: 5px solid #3986f2;
  padding: 0 2em 0;
  margin: 1.6em 0;
}
ol {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
}
ol li {
  margin-left: 1em;
  list-style: none;
}
ol li:before {
  content: counter(li) '.';
  counter-increment: li;
  margin-right: .75em;
  font: 800 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  color: #3986f2;
}
ol ol {
  list-style-type: lower-alpha;
  margin-left: 2em;
}
#content {
  position: relative;
  z-index: 1;
  border-left: 1px solid #efefef;
  margin-left: 250px;
  overflow: auto;
}
article {
  margin: 0 2%;
}
#sidebar {
  position: fixed;
  top: 0
	bottom:0;
  left: 0;
  width: 250px;
  height: 100%;
  display: block;
  z-index: 0;
}
#sidebar ul {
  margin: 2em;
  font: bold 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  text-align: right;
}
#sidebar li {
  list-style-type: none;
}
#sidebar a {
  float: left;
  display: block;
  border: none;
  width: 100%;
  color: #4d4d4d;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
#sidebar a:hover {
  color: #3986f2;
}
