// Variables

// 1. Typography
@basefont: "Helvetica Neue", Helvetica, Arial, sans-serif;
@serif-font: Georgia, Times, "Times New Roman", serif;
@basefontsize: 16px;
@baselineheight: 1.5;
@baseheadingfont: @basefont;
@baseheadingfontweight: bold;
@baseheadingfontcolor: #222;
  
@altfont: 'Open Sans', sans-serif;
@altlineheight: 1.5em;

@codefont : Monaco, "Courier New", monospace;

// 2. Color

@basecolor: #4d4d4d;
@altColor: #444;
@altFontColor: maroon;
@light-blue: #3986f2;
@light-grey: #efefef;
@light-green: #87F23A;
@black: #111;

//Mixins

.transition (@attr: all) {
-webkit-transition: @attr 0.2s ease;
  -moz-transition: @attr 0.2s ease;
  -o-transition: @attr 0.2s ease;
  transition: @attr 0.2s ease;
  }
// CSS reset
@import "reset.less";

// Basics
html {
	color: @basecolor;
	font-family: @basefont;
	font-size: @basefontsize;
	line-height: @baselineheight;
	margin:0;
	padding:0;
}

body {margin:0;padding:0;}
a {
	text-decoration: none;
	border-bottom: 1.5px solid #dadada;
	color: @black;
	.transition(color);
	&:hover {
		color: @light-blue;
	}
}
// Headings
/* Headings */
h1,h2,h3,h4 {
	margin: 0;
	font-size: @baseheadingfont;
	font-weight: @baseheadingfontweight;
	color: @baseheadingfontcolor;
	text-rendering: optimizelegibility; 
	text-shadow: -1px 1px 1px #f9f9f9;

}

h1 {margin: @baselineheight / 2em 0;font-size: 2em;}
h2 {margin: @baselineheight / 2em 0;font-size: 1.5em; font-weight:400}
h3 {margin: @baselineheight / 1.5em 0;font-size: 1.17em; font-weight: 400;}
h4 {margin: @baselineheight / 1.25em 0;font-size: 1em;font-weight: 400;}


// Text Elements
/* Text Elements */
p {margin:.5em 0; font-family: @altfont; font-size: @basefontsize; line-height: @baselineheight;}
code { font: @codefont; color: @altFontColor;}
blockquote {
	color: #666;
	border-left: 5px solid @light-blue;
	padding: 0 2em 0;
	margin: 1.6em 0;
}

// Lists

ol {
	counter-reset: li;
	margin-left:0;
	padding-left:0;
	
	li {
	margin-left: 1em;
	list-style:none;
	
	&:before {
		content:counter(li) + '.';
		counter-increment: li;
		margin-right: .75em;
		font: 800 1em/1.5 @basefont;
		text-align: left;
		color: @light-blue;

	}
	}
	
	ol {
	list-style-type: lower-alpha;
	margin-left: 2em;}
}

ul {
	margin:0;
	padding:0;
	
	li {
		margin-left: 2em;
		list-style:disc;
		}
		
	ul {
	margin-left: 2em;
	}
}

dt {
	font-weight: 600;
}

dd {
	margin-left:2em;
}

figure {
	margin-bottom: 2em;
	figcaption {		
		h4 {margin-bottom:.5em;}
		p {font-size: .8em;}
	}
}

s {
	color: lighten(@basecolor, 20%);
}

dfn {
	color: @black;
	border-bottom: dotted 2px @light-grey;
}

//Forms
form fieldset div {
clear: both;
overflow: hidden;
}

legend { margin: @baselineheight / 2em 0;font-size: 1.5em; font-weight:400}

label, input {
	margin:0;
	float:left;
}
label {
	clear: left;
	width: 23.6%;
	height: 20px;
	line-height: 20px;
	vertical-align: baseline;
}

input {
	width: 66%%;
	height: 20px;
}

form {
	em {
		float:left;
		clear:both;
		margin-left: 23.6%;
	}
}
//Layout
#content {
	position: relative;
	z-index: 1;
	border-left: 1px solid @light-grey;
	margin-left: 250px;
	overflow: auto;
	
}

article {margin: 0 2%;}
#sidebar {
	position: fixed;
	top:0
	bottom:0;
	left:0;
	width: 250px;
	height: 100%;
	display: block;
	z-index: 0;
}

#sidebar {
	ul {
		margin:2em;
		font: bold 1em/1.5 @basefont;
		color: @altColor;
		text-align: right;
	}
	li {
		list-style-type: none;
	}
	a {
		float:left;
		display: block;
		border:none;
		width: 100%;
		color: @basecolor;
		.transition(color);
		&:hover {
			color: @light-blue;
			}
	}
}