// Variables

// 1. Typography
@basefont: "Helvetica Neue", Helvetica, Arial, sans-serif;
@basefontsize: 16px;
@baselineheight: 1.5;
@baseheadingfont: inherit;
@baseheadingfontweight: bold;
@baseheadingfontcolor: #222;

@altfont: 'Open Sans', sans-serif;
@altlineheight: 1.5em;

@codefont : Monaco, "Courier New", monospace;

// 2. Color

@basecolor: #4d4d4d;
@altColor: #444;
@altFontColor: maroon;
@light-blue: #3986f2;
@light-grey: #efefef;
@light-green: #87F23A;
@black: #111;

// CSS reset
@import "reset.less";

// Basics
html {
	color: @basecolor;
	font-family: @basefont;
	font-size: @basefontsize;
	line-height: @baselineheight;
	margin:0;
	padding:0;
}

body {margin:0;padding:0;}
a {
	text-decoration: none;
	border-bottom: 1.5px solid #dadada;
	color: @black;
	&:hover {
		color: @light-blue;
	}
}
// Headings
/* Headings */
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-size: @baseheadingfont;
	font-weight: @baseheadingfontweight;
	color: @baseheadingfontcolor;
	text-rendering: optimizelegibility; 
}
h2 {color:@light-blue;}

h1 {margin: @baselineheight / 2em 0;font-size: 2em;}
h2 {margin: @baselineheight / 2em 0;font-size: 1.5em;}
h3 {margin: @baselineheight / 1.5em 0;font-size: 1.17em;}
h4 {margin: @baselineheight / 1.25em 0;font-size: 1em;}
h5 {margin: @baselineheight / 1em 0;font-size: 0.83em;}
h6 {margin: @baselineheight / 1em 0;font-size: 0.75em;}

// Text Elements
/* Text Elements */
p {margin:.5em 0; font-family: @altfont; font-size: @basefontsize; line-height: @baselineheight;}
code { font: @codefont; color: @altFontColor;}
blockquote {
	color: #666;
	border-left: 5px solid #ccc;
	padding: 0 2em 0;
	margin: 1.6em 0;
}

// Lists

ol {
	
	list-style-type: decimal;
	list-style-position: inside;
	li {
		padding-left: 10px;
	}
}

//Layout
#content {
	position: relative;
	z-index: 1;
	border-left: 1px solid @light-grey;
	margin-left: 250px;
	overflow: auto;
	
}

article {margin: 0 2%;}
#sidebar {
	position: fixed;
	top:0
	bottom:0;
	left:0;
	width: 250px;
	height: 100%;
	display: block;
	z-index: 0;

}

#sidebar {
	ul {
		margin:2em;
		font: bold 1em/1.5 @basefont;
		color: @altColor;
		text-align: right;
	}
	li {
		list-style-type: none;
	}
	a {
		float:left;
		display: block;
		border:none;
		width: 100%;
		padding-left: 10px;
		color: @basecolor;
		
		&:hover {
			color: @light-blue;
			}
	}
}